<div class="sidebar-container">
    <div class="sidebar-logo">
      Vamshi Bandi
    </div>
    <ul class="sidebar-navigation">
      <!-- <li class="header">Side Bar</li> -->
      <li>
        <a [routerLink]="['admin']">
          <i class="fa fa-home"  aria-hidden="true"></i> Admin
        </a>
      </li>
      <li>
        <a [routerLink]="['dashboard']">
          <i class="fa fa-tachometer"  aria-hidden="true"></i> Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['friends']">
          <i class="fa fa-users" aria-hidden="true"></i> Friends
        </a>
      </li>
      <li>
        <a [routerLink]="['settings']">
          <i class="fa fa-cog" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a [routerLink]="['information']">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Information
        </a>
      </li>
    </ul>
  </div>
  