<hr>
<p-table [value]="location" styleClass="p-datatable-gridlines" [paginator]="true" [loading]="loading" [rows]="4" responsiveLayout="scroll" 
[globalFilterFields]="['locationId','streetAddress','postalCode','city','stateProvince','countryId']">
    
<ng-template pTemplate="caption">
    <div class="flex">
        <!-- <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
    </div>
</ng-template>
<ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="locationId">Location ID <p-sortIcon field="locationId"></p-sortIcon></th> 
            <th pSortableColumn="streetAddress">Street Address <p-sortIcon field="streetAddress"></p-sortIcon></th>
            <th pSortableColumn="postalCode">Postal Code <p-sortIcon field="postalCode"></p-sortIcon></th>
            <th pSortableColumn="city">City <p-sortIcon field="city"></p-sortIcon></th>
            <th pSortableColumn="stateProvince">State Province <p-sortIcon field="stateProvince"></p-sortIcon></th>
            <th pSortableColumn="countryId">Country Id <p-sortIcon field="countryId"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-location>
        <tr>
            <td>{{location.locationId}}</td>
            <td>{{location.streetAddress}}</td>
            <td>{{location.postalCode}}</td>
            <td>{{location.city}}</td>
            <td>{{location.stateProvince}}</td>
            <td>{{location.countryId}}</td>
        </tr>
    </ng-template>
</p-table>